$icomoon-font-family: "icon-set" !default;
$icomoon-font-path: "fonts" !default;

$icon-search-1: unquote('"\\e902"');
$icon-search-2: unquote('"\\e903"');
$icon-active-search: unquote('"\\e904"');
$icon-close: unquote('"\\e905"');
$icon-thin-left: unquote('"\\e907"');
$icon-thin-right: unquote('"\\e908"');
$icon-caret-right: unquote('"\\e909"');
$icon-cart: unquote('"\\e90a"');
$icon-user-account: unquote('"\\e90b"');
$icon-sign-out: unquote('"\\e916"');
$icon-vertical-dots: unquote('"\\e90d"');
$icon-management: unquote('"\\e906"');
$icon-catalog: unquote('"\\e90c"');
$icon-rub: unquote('"\\f159"');
$icon-angle-up: unquote('"\\f106"');
$icon-angle-down: unquote('"\\f107"');
$icon-angle-left: unquote('"\\f104"');
$icon-angle-right: unquote('"\\f105"');
$icon-check-box: unquote('"\\e900"');
$icon-pencil-alt: unquote('"\\e901"');
$icon-minus: unquote('"\\e912"');
$icon-plus: unquote('"\\e914"');
$icon-check: unquote('"\\e913"');
$icon-arrow-down: unquote('"\\e92c"');
$icon-arrow-left: unquote('"\\e92d"');
$icon-arrow-right: unquote('"\\e950"');
$icon-arrow-up: unquote('"\\e95c"');

